################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/Hashcode2k20/v16
/bin/Debug
/Hashcode2k20.csproj.user
/Extended_Round.txt
